* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

body{
    overflow-y: auto;
}

@media only screen and (min-width: 900px) {
    body{
        max-width: 1100px;
        margin: 0 auto;
        overflow-y: scroll;
    }
}
.no-underline{
    text-decoration: none;
}

.no-underline:visited{
    text-decoration: none;
}
